In [5]:
import db.knowhere_db as kdb
import pipeline.pipeline as pipeline
import pandas as pd
import numpy as np

In [6]:
reader = kdb.Reader('knowhere')

In [7]:
glen_H_data_raw = reader.get_dataframe_pivoted(collection='iphone_test3', username='glen')

KeyboardInterrupt:

In [54]:
glen_H_data = glen_H_data_raw[['Acceleration (x)','Acceleration (y)','Acceleration (z)', 'Altimeter (Barometer) (Pressure)',\
                               'Microphone (Left Channel Level)', 'Microphone (Right Channel Level)','Magnetometer (raw) (x)',\
                               'Magnetometer (raw) (y)','Magnetometer (raw) (z)','Gyrometer (x)','Gyrometer (y)',\
                               'Gyrometer (z)']]
glen_H_data = glen_H_data.dropna().astype(float)

In [55]:
glen_H_data['Acceleration'] =  np.sqrt(glen_H_data['Acceleration (x)']**2 + glen_H_data['Acceleration (y)']**2 +\
                                       glen_H_data['Acceleration (z)']**2)
glen_H_data['Magnetometer'] =  np.sqrt(glen_H_data['Magnetometer (raw) (x)']**2 + glen_H_data['Magnetometer (raw) (y)']**2 +\
                                       glen_H_data['Magnetometer (raw) (z)']**2)
glen_H_data['Gyrometer']    =  np.sqrt(glen_H_data['Gyrometer (x)']**2 + glen_H_data['Gyrometer (y)']**2 +\
                                       glen_H_data['Gyrometer (z)']**2)
glen_H_data['Microphone']    =  (emil_H_data['Microphone (Left Channel Level)'] +\
                                glen_H_data['Microphone (Right Channel Level)'])/2
glen_H_data = glen_H_data[['Acceleration','Magnetometer','Gyrometer','Microphone','Altimeter (Barometer) (Pressure)']]

In [56]:
emil_H_data = emil_H_data.resample("2S").mean()

In [57]:
emil_H_data

sensor_name,Acceleration,Magnetometer,Gyrometer,Microphone,Altimeter (Barometer) (Pressure)
timestamp,,,,,
2017-03-09 09:21:02,1.075525,459.602841,0.820188,-35.2548,100.879913
2017-03-09 09:21:04,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:06,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:08,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:10,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:12,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:14,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:16,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:18,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:20,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:22,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:24,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:26,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:28,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:30,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:32,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:34,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:36,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:38,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:40,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:42,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:44,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:46,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:48,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:50,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:52,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:54,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:56,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:21:58,NaN,NaN,NaN,NaN,NaN
2017-03-09 09:22:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2017-03-19 11:24:48,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:24:50,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:24:52,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:24:54,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:24:56,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:24:58,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:00,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:02,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:04,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:06,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:08,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:10,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:12,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:14,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:16,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:18,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:20,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:22,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:24,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:26,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:28,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:30,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:32,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:34,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:36,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:38,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:40,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:42,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:44,NaN,NaN,NaN,NaN,NaN
2017-03-19 11:25:46,0.005797,438.325029,0.002677,-55.6785,101.599030