In [12]:
import pymongo
import pandas as pd

In [2]:
# guest only has read access, and only to knowhere
client = pymongo.MongoClient("mongodb://guest:guest@52.90.93.76/knowhere") # defaults to port 27017

db = client.knowhere

coll = db.test

data = [entry for entry in coll.find()]

data = pd.DataFrame(data)

data

                        _id   device   owner
0  58c4b3fe0c7277bf2919d215   iphone    glen
1  58c4b3fe0c7277bf2919d216   iphone    emil
2  58c4b3fe0c7277bf2919d217  android    bill
3  58c4b3fe0c7277bf2919d218  android  andrew

In [5]:
# this returns an error
try:
    coll.insert_one({'device': 'ifone', 'owner': 'guest'})
except Exception, e:
    print e

not authorized on knowhere to execute command { insert: "test", ordered: true, documents: [ { device: "ifone", owner: "guest", _id: ObjectId('58c4b8a3d0f742111926df83') } ] }

In [15]:
# guest can write to test
client = pymongo.MongoClient("mongodb://guest:guest@52.90.93.76/test") # defaults to port 27017

db = client.test

coll = db.test

response = coll.insert_one({'device': 'ifone', 'owner': 'guest'})
response.inserted_id

ObjectId('58c4ba12d0f742111926df96')

In [1]:
import knowhere_db as kdb

In [18]:
reader = kdb.Reader(db_name='knowhere')
data = reader.get_dataframe('users')
data

                        _id   device display_name password username
0  58c5b91d71a9e82f33ad1666  android         Bill              bill
1  58c5b91d71a9e82f33ad1667  android       Andrew            andrew
2  58c5b91d71a9e82f33ad1668   iphone         Emil              emil
3  58c5b91d71a9e82f33ad1669   iphone         Glen              glen

In [23]:
#data = data.to_dict(orient='records')
#data2 = data.drop("_id", axis=1)
data2.sort_values("username")

    device display_name password username
1  android       Andrew            andrew
0  android         Bill              bill
2   iphone         Emil              emil
3   iphone         Glen              glen

52.90.93.76