In [1]:
!ls

Android
EDA_Glen.ipynb
README.md
aggregated_sensor.csv
iPhone
pipeline
pipeline-andrew.ipynb
pipeline.ipynb

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import csv
import json
from collections import defaultdict

In [8]:
droid_columns = ["IDK", "Timestamp", "Latitude", "Longitude", "Alt", "Acc", "XAccel?", "YAccel?", "ZAccel?"]
droid = pd.read_csv("Android/LOG_2017-03-08_09-44-46BMI160_accelerometer.log", sep=";", names = droid_columns, index_col=1)
droid.head()

,IDK,Latitude,Longitude,Alt,Acc,XAccel?,YAccel?,ZAccel?
Timestamp,,,,,,,,
NaN,--- LOG START ---,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-08_09-44-46.755,1973,NaN,40.752909,-73.992874,0.0,19.8,-0.297,0.383
2017-03-08_09-44-49.259,2099,NaN,40.752909,-73.992874,0.0,19.8,-0.297,0.383
2017-03-08_09-44-51.786,2228,NaN,40.752903,-73.992917,7.0,12.0,-0.053,-0.850
2017-03-08_09-44-54.289,2354,NaN,40.752903,-73.992917,7.0,12.0,-0.053,-0.850

In [11]:
def Clean_iPhone_Data(file_with_path):
#    df = pd.read_csv(file_with_path, na_values="NULL",\
#                         names=["Timestamp", "Data Source", "Data", "Display Value", "Raw Value"], index_col = 0)
    data = []
    with open(file_with_path, "r+") as datafile:
        reader = csv.reader(datafile)
        header = next(reader)
        for row in reader:
            # "Timestamp", "Data Source", "Data", "Display Value", "Raw Value"
            row = reduce(lambda x,y: x[:-1] + x[-1] + ';' + y if ']' in y else x + ',' + y, row)
            row = row.split(',')
            observation = {'sensor': row[1], '_user_id': 'glen', 'timestamp': row[0], 'data': {'name': row[2], 'raw': row[4], 'display': row[3]}}
            data.append(observation)
        data = pd.io.json.json_normalize(data).set_index('timestamp')
        data.index = pd.to_datetime(iphone2.index)
            # strip out extra spaces from the data and convert numbers into strings
        data = data.applymap(lambda x: str.strip(x))
        data = data.applymap(lambda x: pd.to_numeric(x, errors='ignore'))
    return(data)

In [12]:
Clean_iPhone_Data('iPhone/Glen_0001.csv')

NameError: global name 'iphone2' is not defined

In [ ]:


json_data = json.dumps(json_data)

In [ ]:
iphone2.iloc[135:145]